<nav >
        <table>
            <th><img src="favicon.ico"></th>
            <th><a routerLink="/home"  routerLinkActive="active">Home</a></th>
            <th><a routerLink="/medication"  routerLinkActive="active">Medication</a></th>
            <th><a routerLink="/causes" routerLinkActive="active">Causes</a></th>
            <th><a routerLink="/gallery" routerLinkActive="active">Supported Quotes</a></th>
            <th><a routerLink="/about" routerLinkActive="active">About us</a></th>
        </table>
    </nav>

<router-outlet></router-outlet>