<br>
<p>We build this web application with respective to save life by  providing the awareness.</p> 
<p>We are not linked to any party or any religion or other. </p>
<p>We are doing this with aim to serve humanity. </p>
<p>Atleast by this one life is  saved is more then million , no one can replace it..</p>
<br><br>Further Support or Queries Drop a Mail At:<p>Mail :<a> Sampath1gsk@gmail.com</a></p><p>Developed by Our team:</p>
<ul>
    <li>Sampath G</li>
    <li>Hemanth E</li>
    <li>Sidhu A</li>
    <li>Indraprasad G</li>
    <li>Saiteja B</li>
    <li>SaiKrishna A</li>
    <li>Ashrit B</li>
    <li>Ajay G</li>
    <li>Prakash A</li>
</ul>
