<body>

      <img src="/assets/medication2.jpg" height="350px" width="450px">

    
    <h1>Quit Smoking</h1>
    Quit-smoking products fall into two main categories:
    <ul>
    <li>Nicotine replacement product like: <ul>
                                                <li>patches</li>
                                                <li>gum</li>
                                                <li> spray</li>
                                               <li>inhaler...Although some are available without a prescription, 
    it's best to talk with your doctor before trying them.</li>
                                            </ul><br></li>
    <li>
     Two medications that don't contain nicotine are available by prescription.
     <ul>
    <li>Nicotine patch</li>
    <li>Nicotine gum</li>
    <li>Nicotine nasal spray</li></ul>
 </li>
    </ul>
    These are the 2 best medications helps to quit smoking.<hr>
    <h1>Quit Alcohol</h1>
    <p>Overcoming alcohol use disorder often requires several steps.
    The first step is recognizing the addiction and getting help to stop drinking.</p>
    Best medications are:
    <ul>
    <li>Disulfiram</li>
    <li>Naltrexone</li>
   <li>Naltrexone injection</li>
   </ul>
    </body>